@import "@/assets/scss/variables.scss";

@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	src: url(https://example.com/material-symbols.woff) format('woff');
}

body {
	background: $linear-gradient-1;
	color: $default-dark;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	font-display: swap;
}

h1 {
	font-family: 'Roboto', sans-serif;

}

h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}


h2 {
	font-weight: 500;
}

h3 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 20px;

}

h4 {
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 1px;

}

p {
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}

a {
	font-weight: 300;
}

.caps {
	text-transform: uppercase;
}

ul.custom {
	li {

		list-style: none;

		&:before {
			content: "";
			width: 15px;

			border-radius: 50%;
			border: 2px solid $orange;
			display: inline-flex;
			height: 15px;
			margin-right: 20px;

			h3 {
				text-transform: uppercase;
			}
		}
	}
}

.sticky {
	position: sticky;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.hide {
	display: none;
}

.wrap-inner {
	min-height: 100vh;
	@apply flex flex-col justify-between;

	.mobile-menu-open & {
		main {
			opacity: 0.2;
		}
	}
}

.animate {
	opacity: 0;
	transform: translateY (30px);
	transition: opacity 1s, transform 1s;

	&.animated {
		opacity: 1;
		transform: translateY(0);
	}

}

//button
.button {
	border-radius: 5px;
	color: $default-white;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	transform: translateY(0);
	transition: all .5s;
	opacity: 0.8;
	background-image: linear-gradient(45deg, $medium-purple, $light-purple);

	&.hollow {
		position: relative;
		opacity: 0.8;
		border: 2px solid transparent;
		background-origin: border-box;
		background-clip: content-box, border-box;


		&.purple {
			background-image: linear-gradient($light-peach, $light-peach), linear-gradient(45deg, $medium-purple, $dark-purple);
			color: $default-dark;

			a {
				padding: 10px;
			}


			&:hover {
				background-image: linear-gradient(45deg, $medium-purple, $dark-purple);
				color: $default-white;
				border: 2px solid $dark-purple;

			}
		}


		&.purple-orange {
			background: linear-gradient($default-dark, $default-dark) padding-box, linear-gradient(45deg, $dark-purple, $orange) border-box;
			color: $light-peach;

			display: flex;
			align-items: center;
			justify-content: center;

			a {
				padding: 10px 16px;
			}

		}

	}

	&.contact {
		opacity: 1;
		background: linear-gradient($dark-purple, $dark-purple) padding-box, linear-gradient(133deg, $medium-purple, $light-purple) border-box;
		border: 2px solid transparent;


	}

	&:hover {
		transform: translateY(-12px);
		opacity: 1;
		box-shadow: 10px 10px 20px -4px rgba($default-dark, .4);
	}
}


.button-container {
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6px;

		&.purple {
			background-image: $linear-gradient-2;
			padding: 10px 16px;
			color: $light-peach;

		}
	}
}

//Gradient text
.gradient-purple {
	background: -webkit-linear-gradient($extra-light-purple, $light-purple, $medium-purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-text {
	background: -webkit-linear-gradient($medium-purple, $dark-purple, $default-dark);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	&.dark-purple {
		background: -webkit-linear-gradient(260deg, $default-dark, rgba($default-dark, .5));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.rotating-gradient {
		background: linear-gradient(130deg, #4a3062, $dark-purple, $medium-purple, $light-purple $extra-light-purple);
		background-size: 400% 400%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: 100%;
		height: 100%;
		background-position: 0 0;
		animation: rotating-gradient 10s infinite alternate;

	}
}


header.main {
	z-index: 2;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0px 4px 4px 0px rgba(48, 31, 64, 0.3);
	position: absolute;
	top: 0;
	width: 100%;
	transition: height .3s ease;

	&.home {
		box-shadow: none;
	}

	&.project {
		top: 100px;
		box-shadow: none;
	}


	&.mobile-menu-open {
		background-color: transparent;
	}


	&.sticky-header {
		position: fixed;
		z-index: 2;
		background-color: rgba($light-peach, .8);



	}

	ul {
		li {
			display: inline;
			list-style-type: none;

			a {
				text-decoration: none;
				position: relative;
				border-bottom: 2px solid transparent;
				transition: all .5s;
			}
		}
	}

	h4 {}

}



.mobile-menu {
	position: fixed;
	top: 100px;

	background: $default-dark;
	border-radius: 12px 0 0 12px;
	overflow-y: hidden;
	height: 100%;
	right: 0;
	transform: translateX(100%);
	width: 0%;
	transition: transform 0.5s cubic-bezier(0.76, -0.01, 0.3, 0.99);
	top: 0;
	width: 60%;


	li {
		display: flex;
		justify-content: flex-end;

		a {
			color: $light-peach;

			&.button {
				background: transparent;
				opacity: 1;
			}

		}
	}

	&.mobile-menu-open {
		transform: translateX(0%);
		position: fixed;
		height: 100vh;
		opacity: 0.95;
		justify-content: flex-start;

		padding: 120px 20px;
	}

}

//General Styles

//Component Styles
.animate-underline {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding-bottom: 2px;
	margin: 0;
	text-decoration: 0;
	border: none;
	transition: all .3s;
	color: $medium-purple;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		width: 0;
		height: 2px;
		bottom: -2px;
		transition: width .3s ease-out;
		background: linear-gradient(to right, $medium-purple, rgba($dark-purple, .4));
	}

	&:hover {
		&:before {
			width: 100%;
		}
	}

	&.orange {

		&:hover {
			color: $orange;

			&:before {
				background: linear-gradient(to right, $orange, rgba($orange, .4));
			}

			a {
				color: $orange;

			}


		}
	}

	&.purple {

		&:hover {
			color: $medium-purple;

			&:before {
				background: linear-gradient(to right, $medium-purple, rgba($medium-purple, .4));
			}

			a {
				color: $medium-purple;

			}


		}
	}
}



.animate-arrow,
.animate-arrow-prev {

	&:after,
	&:before {

		font-family: 'Material Symbols Outlined';
		font-size: 15px;
		padding-left: 5px;
		display: inline-flex;
		transition: transform .5s
	}

	&.animate-arrow {
		&:after {
			content: "arrow_forward";
		}
	}

	&.animate-arrow-prev {
		&:before {
			content: "arrow_back";
			margin-right: 10px;
		}
	}

	&.purple {
		color: $dark-purple;
	}

	&:hover {
		&:after {
			transform: translateX(5px);
		}

		&:before {
			transform: translateX(-5px);
		}


	}
}

//HERO

section.hero {
	height: 100vh;
	position: relative;


		.circle_container {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 10px;
			transform-origin: left center;


			.circle {
				position: absolute;
				z-index: 9999;
				border-radius: 100%;
				background: rgba($default-white, .25);
				left: 0;
				top: 0;
				opacity: 0;
				animation-name: move;
				animation-duration: 20s;
				animation-iteration-count: infinite;

				&.circle-1 {
					background: rgba($light-purple, .3);
				}

				&.circle-2 {
					background: rgba($orange, .15);
				}

				&.circle-3 {
					background: rgba($medium-purple, .3);
				}

				&.circle-4 {
					background: rgba($dark-purple, .15);
				}

				&.circle-5 {
					background: rgba($light-peach, .3);
				}

				&.circle-6 {
					background: rgba($extra-light-purple, .3);
				}
			}
		}

}

//INFO Section

section.info {
	margin-top: 0 !important;

	a {
		font-weight: 300;
	}



	h3 {
		display: inline-block;
		position: relative;
		padding-bottom: 2px;
		width: fit-content;
		margin: 0;

		&:before {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: $orange;
			transition: width 0.3s;
		}

		&.active {
			color: $orange;

			&:before {
				width: 100%;
			}
		}

		&:hover {
			color: $orange;

		}
	}


	.image-container {
		position: relative;
		transform: translateX(8%);
		width: 60%;


		img {
			position: absolute;
			z-index: 30;
			width: 100%;
			border-radius: 8px;
			box-shadow: 0px 4px 4px 0px rgba(48, 31, 64, 0.4);
		}

		&:before {
			content: "";
			position: absolute;
			width: 101%;
			height: 81%;
			background-image: linear-gradient(135deg, $light-peach, $extra-light-purple),
				linear-gradient(45deg, $dark-purple, $orange);
			border: 4px solid transparent;
			background-origin: border-box;
			background-clip: content-box, border-box;
			left: 15px;
			top: 15px;
			z-index: 20;
			border-radius: 4px;

		}

		&:after {

			content: "";
			background-image: linear-gradient(133deg, $orange, $dark-purple, $default-dark);
			width: 100%;
			height: 80%;
			position: absolute;
			left: 0px;
			top: 0px;
			opacity: 0.2;
			z-index: 200;
			transition: opacity 0.3s ease;
			box-shadow: 0px 4px 4px 0px rgba(48, 31, 64, 0.4);
		}

		&:hover {
			&:after {
				opacity: .1;
			}
		}


	}
}