$default-white: #F4F4F4;
$default-dark: #301F40;

$extra-light-purple: #ECE4FB;
$light-purple: #DDCDEA;
$medium-purple: #B295DA;
$dark-purple: #7F4EC3;

$light-peach: #FFF4F0;
$orange: #FF7442;


//linear-gradients
$linear-gradient-1: linear-gradient(149.25deg, $light-peach , $extra-light-purple,  $light-purple );


$linear-gradient-2: linear-gradient($medium-purple, $dark-purple);
$linear-gradient-3: linear-gradient(45deg, $medium-purple, $dark-purple);


$linear-gradient-4: linear-gradient(77deg, $light-peach, $extra-light-purple, $light-purple, $extra-light-purple, $light-peach);

$border-gradient: linear-gradient(45deg, $orange, $dark-purple);
$overlay-gradient: linear-gradient( rgba($default-white, .8), rgba($light-peach, .8) , rgba($light-purple, .8), rgba($medium-purple, .8));
$overlay-gradient-dark: linear-gradient(rgba($dark-purple, .8), rgba($default-dark, 1));





//MEDIA QUERIES

$break-small: 500px;
$break-med: 768px;
$break-large-tablet: 1024px;
$break-large: 1200px;
$break-xlarge: 1400px;
$break-xxlarge: 1600px;